*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    overflow-y: scroll;
}

ul{
    height: 100px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    transition: all 200ms linear;
}
li:hover{
    color: aqua;
    transition: all 200ms linear;
}
.Menu{
    color:black;
    background-color: rgb(20, 176, 20);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

#section1{
    background-color: rgb(255, 255, 255);
    height: 70vh;
    display: flex;
    margin-top: 100px;
}
#section2{
    height: 70vh;
    display: flex;
    margin-top: 100px;
}